doctype html
html(lang='de')
    head
        meta(name='viewport' content='width=device-width')
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        title Hallo Klaus, was machst Du denn hier in der Tropfsteinhöhle ? - Ja, hallo Erwin...
        meta(name='description' content='Hallo Klaus, was machst Du denn hier in der Tropfsteinhöhle ? - Ja, hallo Erwin...')
        link(rel='preload' href='/assets/main.css' as='style' onload='this.onload=null;this.rel="stylesheet";')
        style.
            body{background:#036;width:100%;height:100%;width:100vw;height:100vh}
    body
        audio
            source(src='/assets/hoehle.wav' type='audio/wav')
        script.
            !function(){let i=document.querySelector("audio"),e=document.querySelector("body"),c=i.play();void 0!==c&&c.catch(function(i){e.classList.add("permission-missing")}),e.onclick=function(){e.classList.remove("permission-missing"),i.currentTime=0,i.play()}}();
        script.
            var _paq=window._paq=window._paq||[];_paq.push(["trackPageView"]),_paq.push(["enableLinkTracking"]),function(){var a="https://stats.ppassets.de/";_paq.push(["setTrackerUrl",a+"matomo.php"]),_paq.push(["setSiteId","3"]);var e=document,t=e.createElement("script"),p=e.getElementsByTagName("script")[0];t.type="text/javascript",t.async=!0,t.src=a+"matomo.js",p.parentNode.insertBefore(t,p)}();
